* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

.container-header {
    width: 768px;
    height: 125px;
    margin: 0 auto;
}

header {
    height: 120px;
}

.black-beckground-header {
    background-color: black;
}


/* line  */

.line-gradient {
    height: 2px;
    background-image: linear-gradient(to right, black, white, black);
}


/* NAV */

.nav-main {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.nav-main li {
    list-style: none;
    color: white;
    width: 16.6%;
    border-top: #555 5px solid;
}

.nav-main li a {
    font-size: 13px;
    display: block;
}

.nav-main svg {
    height: 70px;
    fill: white;
    padding: 7px 0 7px 0;
}

.active {
    border-top: #0a7eff 5px solid !important;
}

.active svg {
    fill: #0a7eff;
}


/* small nav */

.small-nav {
    height: 48px;
    position: relative;
    padding-top: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.list-small-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.small-nav::-webkit-scrollbar {
    display: none;
}

.small-nav li {
    list-style: none;
    min-width: 25%;
    border-bottom: solid #555 2px;
    text-align: center;
    color: white;
}

.small-nav li a {
    font-size: 1.3em;
}

.active-small-nav {
    border-bottom: solid #0a7eff 2px !important;
    color: white !important;
}


/* Performance main page */

.container-main {
    position: relative;
    width: 768px;
    height: 859px;
    margin: 0 auto;
}

.big-circle {
    border: 1px solid rgba(190, 196, 206, 0.3);
    width: 700px;
    height: 700px;
    border-radius: 100%;
    vertical-align: middle;
    position: absolute;
    top: 80px;
    right: 30px;
}

.car-back-circle {
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 100%;
    height: 600px;
    width: 600px;
    border: 1px solid rgba(190, 196, 206, 0.3);
    background-image: url(../img/car.svg);
    background-position: center center;
    background-size: 100%;
    background-position-x: -40px;
    background-position-y: 10px;
}

.steering {
    text-align: center;
    position: absolute;
    top: -64px;
    right: 260px;
}

.steering span {
    display: block;
    font-size: 25px;
}

.steering-blue-line {
    position: absolute;
    height: 5px;
    width: 15px;
    top: -3px;
    right: 293px;
    background-color: #0a7eff;
    border-radius: 5px;
}

.slip {
    text-align: center;
    position: absolute;
    bottom: -65px;
    right: 280px;
}

.slip span {
    display: block;
    font-size: 25px;
}

.slip-blue-dot {
    position: absolute;
    height: 7px;
    width: 7px;
    bottom: -3px;
    right: 295px;
    background-color: #0a7eff;
    border-radius: 5px;
}

.long {
    text-align: center;
    position: absolute;
    top: 75px;
    right: 269px;
}

.long span {
    display: block;
    font-size: 25px;
}

.lat {
    text-align: center;
    position: absolute;
    bottom: 75px;
    right: 267px;
}

.lat span {
    display: block;
    font-size: 25px;
}


/* Footer */

.container-footer {
    width: 768px;
    height: 40px;
    margin: 0 auto;
    background-color: green;
}