* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

.container-header {
    width: 768px;
    height: 125px;
    margin: 0 auto;
}

header {
    height: 120px;
}

.black-beckground-header {
    background-color: black;
}


/* line  */

.line-gradient {
    height: 2px;
    background-image: linear-gradient(to right, black, white, black);
}


/* NAV */

.nav-main {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.nav-main li {
    list-style: none;
    color: white;
    width: 16.6%;
    border-top: #555 5px solid;
}

.nav-main li a {
    font-size: 13px;
    display: block;
}

.nav-main svg {
    height: 70px;
    fill: white;
    padding: 7px 0 7px 0;
}

.active {
    border-top: #0a7eff 5px solid !important;
}

.active svg {
    fill: #0a7eff;
}


/* small nav */

.small-nav {
    height: 48px;
    position: relative;
    padding-top: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.list-small-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.small-nav::-webkit-scrollbar {
    display: none;
}

.small-nav li {
    list-style: none;
    min-width: 25%;
    border-bottom: solid #555 2px;
    text-align: center;
    color: white;
}

.small-nav li a {
    font-size: 1.3em;
}

.active-small-nav {
    border-bottom: solid #0a7eff 2px !important;
    color: white !important;
}